/* Global Styles */
body {
    background-color: #e4e4e4;
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
.logo {
    width: auto;
    height: 100px;
}

header {
    background: #3fb410;
    color: #fff;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    font-size: x-large;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.responsive-image {
    width: 100%;
    height: auto;
}

.products-flex {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products-flex .product {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    text-align: center;
}

.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.products-grid .product {
    text-align: center;
}

footer {
    background:  #3fb410;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

form div {
    margin-bottom: 10px;
}

label {
    display: block;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 15px;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #555;
}

/* Responsive Styles */
@media (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 5px 0;
    }
}